.navbar {
    width: 100%;
    background-color: #333;
    color: white;
    padding: 10px 0;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: all 0.3s;
    height: 3.5rem;
  }
  
  .navbar.sticky {
    position: fixed;
    top: 0;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
  }
  
  .nav-links li {
    margin: 0;
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
    padding: 10px;
  }
  
  .nav-links a:hover {
    background-color: #575757;
    border-radius: 5px;
  }
  